body{
  /* uigradient.com for background-color */
  background: #CCCCB2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #757519, #CCCCB2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #757519, #CCCCB2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-repeat: no-repeat;
height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
 font-family: "Slabo 27px", serif;
  font-weight: 400;
  font-style: normal;
}

button{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  text-align: center;
  font-size: 9px;
  border: 1px solid yellowgreen;
  cursor: pointer;
  font-weight: bolder;
}

hr{
border:2px solid red;
width: 100%;
margin-bottom: 30px;
}
.content-buttons{
  display: flex;
  margin-bottom: 30px;
}

#display{
  width: 50%;
  height: 50%;
  text-align: left;
 color: red;
 padding: 10px;
  display: flex;
  align-items: center;
    justify-content: center;
  border: 1px solid yellowgreen;
  background-color: #CCCCB2;
  font-weight: bold;
}
.fun{
  /* animation */
  animation: myAnim 1s linear 0s 1 normal forwards;
}
footer{
	 opacity: 0.5;
	text-align:right;
}
@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: scale(7);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: scale(1);
	}

	55% {
		animation-timing-function: ease-in;
		transform: scale(1.5);
	}

	72% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}

	81% {
		animation-timing-function: ease-in;
		transform: scale(1.24);
	}

	89% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}

	95% {
		animation-timing-function: ease-in;
		transform: scale(1.04);
	}

	100% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}
}
